@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap');

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  --font: 'Poppins', sans-serif;
  --font-text: 'Rajdhani', sans-serif;
  --clr-gold: 203, 164, 111;
  --clr-pink: 231, 156, 183;
  --clr-gray: 58, 83, 109;
  --clr-subtle-gray: 240, 240, 240;
  --clr-white: 255, 255, 255;
  --clr-torquoise: 64, 224, 208;

  --bgr-gradient: linear-gradient(to bottom right, rgb(44, 62, 80), rgb(248, 187, 208));

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}